:host {
  .wrapper {
    display: grid;
    place-items: center;
    height: 100vh;
    h1 {
      text-align: center;
    }
    .form {
      width: 300px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-top: 10px;
      button {
        margin-top: 10px;
        width: 100%;
      }
    }
  }
}
